<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parte 2</title>
    <style>
        
    </style>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <p id="logged_user">{{username}}</p>
    <h1 class="title">Le conseguenze del cambiamento climatico</h1>
    <p class="explaining">Il cambiamento climatico sta avendo conseguenze a dir poco catastrofiche, ad esempio in alcune zone fa così caldo che si sciolgono le scarpe o gli pneumatici di chi cammina per strada.</p>
    <img src="../static/img/riscaldamento_climatico.jpg">
    <p class="explaining">Oppure il turismo nelle zone balneari sta pian piano diminuendo a causa del caldo insostenibile.</p>
    <p class="quiz_time">Quiz Time!</p>
    <form action="" method="post" class="explaining">
        <label for="answer">Le conseguenze del cambiamento climatico stanno diventando sempre più importanti?</label>
        <input type="text" id="answer" name="answer" required>
        <button type="submit">Invia</button>
    </form>
    <p class="explaining">{{esito}}</p>

        

</body>
</html>