<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Sbagliata</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class="login_title">Ciao, {{username}}</h1>
    <p class="login_text">Non dovresti essere in questa pagina, poiché questa parte l'hai già fatta o non è il momento di farla. Ricontrolla il link e correggi eventuali errori.</p>
</body>
</html>